.aboutMe {
  background-image: linear-gradient(
    90deg,
    rgba(197, 184, 231, 0.42) 0%,
    rgba(155, 143, 232, 0) 100%
  );
  padding: 10px 5px 10px 10px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  z-index: -1;
  border-radius: 10px;
}
.aboutMe:hover {
  background-size: 100% 100%;
}
